Repository Nwabukin/techai-blog: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --write, eslint

feat: complete development environment setup
  documentation/phase1-setup.md
Due: prettier --write

fix: update husky pre-commit hook to remove deprecated syntax
  .husky/pre-commit
Due: none

chore(deps): add @tailwindcss/typography plugin
  package.json
  pnpm-lock.yaml
Due: prettier --write

feat: implement base styling system
  astro.config.mjs
  documentation/phase1-setup.md
  src/layouts/MainLayout.astro
  src/styles/global.css
  src/styles/main.css
  tailwind.config.mjs
Due: prettier --write, eslint

feat: implement core components
  .vscode/settings.json
  astro.config.mjs
  documentation/phase2-basic-structure.md
  src/components/BlogCard.astro
  src/components/Footer.astro
  src/components/Header.astro
  src/components/Navigation.astro
  src/components/ThemeSwitcher.astro
  src/layouts/BlogPost.astro
  src/layouts/MainLayout.astro
Due: prettier --write, eslint

feat: implement base layouts and components
  documentation/phase2-basic-structure.md
Due: prettier --write

feat: implement basic pages
  documentation/phase2-basic-structure.md
  src/pages/about.astro
  src/pages/blog.astro
  src/pages/contact.astro
  src/pages/index.astro
Due: prettier --write, eslint

feat: complete initial blog implementation
  .vscode/settings.json
  README.md
  postcss.config.cjs
  src/components/BlogCard.astro
  src/components/Footer.astro
  src/components/Header.astro
  src/components/Navigation.astro
  src/components/ThemeSwitcher.astro
  src/content/config.ts
  src/layouts/BlogPost.astro
  src/layouts/MainLayout.astro
  src/pages/about.astro
  src/pages/blog.astro
  src/pages/contact.astro
  src/pages/index.astro
  src/styles/main.css
Due: prettier --write, eslint

feat(blog): implement content structure and schema
  documentation/phase3-blog.md
  src/components/BlogCard.astro
  src/content/blog/welcome-post.mdx
  src/content/config.ts
  src/layouts/BlogPost.astro
  src/pages/blog.astro
  src/pages/index.astro
  src/types/blog.ts
Due: prettier --write, eslint

feat: implement blog features
  astro.config.mjs
  documentation/phase3-blog.md
  package.json
  pnpm-lock.yaml
  src/components/TableOfContents.astro
  src/env.d.ts
  src/layouts/BlogPost.astro
  src/layouts/MainLayout.astro
  src/pages/blog/[...slug].astro
  src/pages/blog/category/[category].astro
  src/pages/blog/index.astro
  src/pages/rss.xml.ts
  src/utils/readingTime.ts
  tsconfig.json
Due: prettier --write, eslint

feat: add social sharing and navigation components
  astro.config.mjs
  documentation/phase3-blog.md
  src/components/OptimizedImage.astro
  src/components/PostNavigation.astro
  src/components/SocialShare.astro
  src/layouts/MainLayout.astro
  src/pages/blog/[...slug].astro
Due: prettier --write, eslint

feat: enhance blog UI and components
  src/components/RelatedPosts.astro
  src/components/TableOfContents.astro
  src/components/TagCloud.astro
  src/layouts/BlogPost.astro
  src/pages/blog.astro
  src/pages/blog/index.astro
  src/pages/blog/tag/[tag].astro
Due: prettier --write, eslint

docs: add feature implementation levels documentation
  documentation/features.md
  documentation/phase3-blog.md
  src/components/Header.astro
  src/components/SearchDialog.astro
  src/scripts/search.ts
  src/utils/icons.ts
  src/utils/search.ts
Due: prettier --write, eslint

feat(search): implement comprehensive search functionality
  documentation/phase4-advanced.md
  src/components/SearchDialog.astro
  src/pages/blog/index.astro
  src/scripts/search.ts
  src/utils/searchIndex.ts
Due: prettier --write, eslint

feat(search): implement comprehensive search functionality
  package.json
  pnpm-lock.yaml
  src/components/BlogCard.astro
  src/components/Header.astro
  src/content/blog/ai-trends-2024.md
  src/content/blog/machine-learning-basics.md
  src/content/blog/web-development-best-practices.md
  src/utils/icons.ts
  src/utils/search.ts
Due: prettier --write, eslint

feat(performance): implement infinite scroll and image lazy loading
  documentation/phase4-advanced.md
  src/components/InfiniteScroll.astro
  src/utils/postLoader.ts
Due: prettier --write, eslint

feat(performance): implement infinite scroll and image lazy loading
  documentation/features.md
  src/components/OptimizedImage.astro
  src/pages/api/posts.ts
  src/pages/blog/index.astro
Due: prettier --write, eslint

feat: implement PWA and service worker functionality
  astro.config.mjs
  documentation/phase4-advanced.md
  package.json
  pnpm-lock.yaml
  src/components/PWAInstall.astro
  src/layouts/MainLayout.astro
  src/pages/offline.astro
  src/sw.ts
  src/utils/pushNotifications.ts
Due: prettier --write, eslint

feat: add PWA icons and conversion scripts
  package.json
  pnpm-lock.yaml
  public/icons/badge-72x72.png
  public/icons/badge-72x72.svg
  public/icons/icon-192x192.png
  public/icons/icon-192x192.svg
  public/icons/icon-512x512.png
  public/icons/icon-512x512.svg
  scripts/convert-icons.js
  scripts/generate-icons.js
  scripts/generate-pwa-icons.js
Due: prettier --write

feat: implement dark/light theme toggle with system detection and persistence
  documentation/phase4-advanced.md
  src/components/ThemeSwitcher.astro
  src/layouts/MainLayout.astro
  tailwind.config.mjs
Due: prettier --write, eslint

Path conditions:
  prettier --write: (any of: *.{js,jsx,ts,tsx,md,mdx,json}) or (any of: *.astro)
  eslint: any of: *.astro
